@page "{id}"
@model ReadModel;

@{
    ViewData["Title"] = "Read Page";
}


<p>At <b>Falcon Movies</b>, we present to you:</p>

<h2>@Model.Product.Title</h2>
<div>
    <img src="@Model.Product.Image" alt="@Model.Product.Title Poster" class="movie-poster"   />
</div>
<br />

<h3>Description</h3>
<p>@Model.Product.Description</p>

<h3>IMDbRating</h3>
<p>@Model.Product.IMDbRating</p>

<h3>Cast Details:</h3>
@foreach (var product in Model.Product.Cast)
{
    <li>@product</li>
}
<br />

<h4>Trailer</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/@Model.Product.YouTubeID" frameborder="0" allowfullscreen></iframe>

@if (!string.IsNullOrEmpty(Model.Product.Genre))
{
    <h5>Genre:</h5>
    <p>@Model.Product.Genre</p>
}

<div class="back-to-index">
    <a asp-page="./Index" class="btn btn-secondary">Back to Index</a>
</div>

<div class="form-group">
    <a asp-page="/Product/Delete" asp-route-id="@Model.Product.Id" class="btn btn-danger ml-2">Delete</a>
</div>