@page
@model ContosoCrafts.WebSite.Pages.Shared.MoviePage1Model
@{
    ViewData["Title"] = "Movie Page";
}

<h1>@ViewData["Title"]</h1>

<p>At <b>Falcon Movies</b>, we present to you:</p>

<h2>@Model.MovieTitle</h2>
<div>
    <img src="@Model.MoviePosterUrl" alt="@Model.MovieTitle Poster" style="max-width: 300px;"/>
</div>

<h3>Description</h3>
<p>@Model.Description</p>

<h3>Case Details</h3>
<p>@Model.CaseDetails</p>

<h3>Rating</h3>
<p>@Model.Rating out of 10</p>